<section>
    <div class="row">
        <div class="col-md-2 p-0 nav-links">
            <app-nav-links></app-nav-links>
        </div>
        <div class="col-md-10 main">
            <div class="row">
                <div class="col-md-6">
                    <form class=" mt-4">
                        <input type="search" placeholder="search">
                        <button class="send ml-4">Upload</button>
                    </form>
                </div>
                <div class="col-md-6 profile">
                    <i class="fa fa-user-circle-o prof mr-4" aria-hidden="true"></i>
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <p>Folders
                        <span style="float:right">Name<i class="fa fa-angle-down" aria-hidden="true" style="color:blue"></i></span>
                        <span style="float:right" class="mr-4"><i class="fa fa-folder-o" aria-hidden="true" style="color:blue"></i></span>

                    </p>

                    <div class="row">
                        <div class="col-md-3">
                            <div style="background-color:white">
                                <img src="../../../../assets/images/folder.png" alt="folder"><span>GIFs</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div style="background-color:white" class="ml-2">

                                <img src="../../../../assets/images/folder.png" alt="folder"><span>Resource</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div style="background-color:white">

                                <img src="../../../../assets/images/folder.png" alt="folder"><span>Design</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div style="background-color:white">

                                <img src="../../../../assets/images/folder.png" alt="folder"><span>PNGs</span>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-4">
                        <div class="col-md-3">
                            <div style="background-color:white">
                                <img src="../../../../assets/images/folder.png" alt="folder"><span>March 2020</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div style="background-color:white" class="ml-2">

                                <img src="../../../../assets/images/folder.png" alt="folder"><span>April 20</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div style="background-color:white">

                                <img src="../../../../assets/images/folder.png" alt="folder"><span>Software</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div style="background-color:white">

                                <img src="../../../../assets/images/folder.png" alt="folder"><span>Project</span>
                            </div>
                        </div>

                    </div>
    <h5 class="mt-4">Recent Files</h5>
                    <div class="row mt-4">
                        <div class="col-md-3">
                            <figure>
                                <img src="../../../../assets/images/pdf.png" alt="pdf">
                                <figcaption class="text-center">Brief.pdf </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-3">
                            <figure>
                                <img src="../../../../assets/images/avi.png" alt="avi" style="height: 51px;">
                                <figcaption class="text-center">Image.avi</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-3">
                            <figure>
                                <img src="../../../../assets/images/docs.png" alt="docs">
                                <figcaption class="text-center">BG.docs</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-3">
                            <figure>
                                <img src="../../../../assets/images/docs.png" alt="docs">
                                <figcaption class="text-center">BG1.docs</figcaption>
                            </figure>
                        </div>

                    </div>
    <h5 class="mt-4">All Files</h5>

                    <div class="row mt-4">
                        <div class="col-md-3">
                            <figure>
                                <img src="../../../../assets/images/xd.png" alt="xd" style="height: 51px;">
                                <figcaption class="text-center">PPT.xd</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-3">
                            <figure>
                                <img src="../../../../assets/images/exl.png" alt="exl" style="height: 51px;">
                                <figcaption class="text-center">Effects.exl</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-3">
                            <figure>
                                <img src="../../../../assets/images/pdf.png" alt="pdf">
                                <figcaption class="text-center">BG.pdf</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-3">
                            <figure>
                                <img src="../../../../assets/images/exl.png" alt="exl" style="height: 51px;">
                                <figcaption class="text-center">Video.exl</figcaption>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="col-md-2 ">

                    <div class="users ">
                        <div class=" ml-2">
                            <span class="pl-3">
                                <h5 class="mb-4">Last Activity</h5>
                            </span>
                            <div class="row">
                                <div class="col-md-6">
                                   <p> Aayush added new <span><b>Data.xls </b> file</span><br> 5 mins ago</p>
                                </div>
                                <div class="col-md-6">
                                  <img src="../../../../assets/images/xls.png" alt="xls" class="ml-4">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                   <p> Shirley commented on  <span><b>Brief.pdf</b></span> file<br> 13 mins ago</p>
                                </div>
                                <div class="col-md-6">
                                  <img src="../../../../assets/images/pdf.png" alt="pdf" class="ml-4">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                   <p> Siddhharth deleted on  <span><b>temp.pdf</b></span> file<br> 13 mins ago</p>
                                </div>
                                <div class="col-md-6 ">
                                  <img src="../../../../assets/images/pdf.png" alt="pdf" class="ml-4">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>